<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyC3hG6CLolE_HCaNptLEyMV0jgTUTjzYEk</string>
	<key>GCM_SENDER_ID</key>
	<string>819604090588</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.newApp</string>
	<key>PROJECT_ID</key>
	<string>flutterapp-5b028</string>
	<key>STORAGE_BUCKET</key>
	<string>flutterapp-5b028.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:819604090588:ios:268172d99dbc66bf350e19</string>
</dict>
</plist>